.App {
  text-align: center;
  background-image: url("/images/1318046-star-wars-episode-3-wallpapers-1920x1080-mac.jpg");
  background-position: cover;
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-size: cover;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1 {
  color: white;
  font-size:xx-large;
  font-weight: bolder;
  
}

p { 
  color: #cc9f14; 
  font-size: medium;
  font-weight: bold;
}

label {
  color:#bcbcbc;
  font-style: italic;
  font-size: medium;
  font-weight: bold;
}

header {
  color:#cc0000;
  
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}