.App {
  text-align: center; 
  background-image: url("https://images8.alphacoders.com/100/1005773.jpg");
  background-position: cover;
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-size: cover; 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.poster {
  height: 400px;

}
.message {
  width: 1060px;
  
}

.hover-message {
  font-size: larger;
  font-weight: bolder;
  color:#cc0000;

}
.people-button {
  align-content: center;
}
h1 {
  color: black;
  font-size:xx-large;
  font-weight: bolder;
  
}

h2 {
  color:#cc0000;
  font-family: Arial, Helvetica, sans-serif;

}

p { 
  color: #cc9f14; 
  font-size: medium;
  font-weight: bold;
  font-display:inherit;
}

label {
  color: black;
  font-style: italic;
  font-size: medium;
  font-weight: bold;
}

header {
  color:#cc0000;
  
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}